.pedidos{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px;
    gap: 2rem;
}
.pedidos h1{
    margin: 0;
}
.pedidos .pedido{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #002f52;
    padding: 12px;
}
